<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.wattdepot.server.live</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/java</string>
		<string>-Xmx512M</string>
		<string>-jar</string>
		<string>/Users/wattdepot/wattdepot/wattdepot-server.jar</string>
		<string>-d</string>
		<string>server-live</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/wattdepot/wattdepot-run/wattdepot-server-live.out</string>
	<key>StandardOutPath</key>
	<string>/Users/wattdepot/wattdepot-run/wattdepot-server-live.out</string>
	<key>UserName</key>
	<string>wattdepot</string>
</dict>
</plist>
